:root {
    --label-color: #2d2d2d;
    --white: #fff;
}

.demo-list-two {
    width: 300px;
}

.floating-button {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.demo-list-two {
    width: 100%;
}

.mdl-chip--deletable {
    margin-left: 25px;
}

.input-section {
    display: block;
    margin: 10px auto;
}

.shared-moment-card.mdl-card {
    margin: 10px auto;
}

.post-button-div {
    text-align: center;
}

#create-post {
    z-index: 1001;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    bottom: 0;
    top: 105px;
    text-align: center;
    /* display: none; */
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.pwa-card-name__name-header {
    float: right;
    margin: 5px 10px;
}

.mdl-card {
    width: 100%;
}

.pwa-card-label {
    color: var(--label-color);
    font-size: 15px;
    line-height: 20px;
}

#jumbotron {
    background: url(images/_/_/_/public/src/images/benjamin-hung-340383.jpg) center / cover;
    height: 200px;
}

.mdl-card--border {
    background: rgba(0, 0, 0, 0.1);
}

.mdl-card__actions {
    padding: 8px 15px;
}

.mdl-button--raised.mdl-button--colored {
    padding: 0 35px;
}

.mdl-layout--fixed-tabs .mdl-layout__tab {
    color: white;
}

.mdl-textfield__label {
    color: var(--label-color);
}

/*.mdl-button--raised {*/
    /*color: var(--label-color)!important;*/
/*}*/